{{#each historical as |item index|}}
    {{index}}
    {{#each-in item as |key value|}}
        {{key}}: {{value}}
    {{/each-in}}
    <br>
{{/each}}
{{#each-in statemachineValues as |key value|}}
    {{key}}: {{input placeholder=value value=enteredValue enter=(action "change" key enteredValue)}}
{{/each-in}}
<button {{action "transit"}}>Next state</button>
